<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Codeforces Visualizer</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  
  <style>
    html{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body{
      height: 100vh;
    }
  </style>
  <nav class="navbar navbar-dark bg-dark" style="background-color: #1abc9c;">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Codeforces Visualizer</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/" style="color: black; transition: all 0.4s ease;">HOME</a></li>
          <li id="contact"><a href="/contact" style="color: black; transition: all 0.4s ease;">CONTACT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
